section{
    padding: 3rem 4rem 5rem;
}
.data{
    display: flex;
    justify-content: space-around;
}
.data h1{
    font-size: 4rem;
    color: var(--light);
    font-weight: 900;
}
.data p{
    opacity: 0.8;
    letter-spacing: 0.5px;
    font-weight: 600;
}